body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    margin: auto;
    padding-top: 10%;
    background: linear-gradient(to bottom, #117b9c 70%, #ffffff 100%);
    align-items: center;
    
    
}

.container {
    display: flex;
    flex-direction: column;
}

#input_cidade {
    background-color: #000000;
    color: turquoise;
    margin: auto;
}

#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom, #117b9c 70%, #ffffff 100%);
}

#res_titulo {
   color: #117b9c;

}

#temperatura {
    color: white;
    font-size: 40pt;
    padding-bottom: 10%;
}

#icone {
    width: 40%;
}